# Ignore traefik .env
/traefik/.env

# Ignore dynamic/nas.yaml
/traefik/dynamic/nas.yaml

# Ignore wireguard conf
/vpn/gluetun/wg0.conf
# Ignore downloaders config
/downloaders/templates/sabnzbd.ini
/downloaders/wg0.conf
**/secrets

# Secrets
traefik_auth.txt
eweka*
